#account-overview-v2 .profile-pic.bp2 {
    display: none;
    width: 80px;
    height: 80px;
    padding-top: 15px;
}
#account-overview-v2 .points-info {
    width: 40%;
    padding-top: 15px;
}
#account-overview-v2 .name {
    text-transform: uppercase;
    color: #000000;
    font-weight: 900;
    font-size: 1.75rem;
    margin-bottom: 8px;
}


#account-overview-v2 .progress-bar-container {
    padding-top: 0;
    width: 50%;
    display: table-cell;
    vertical-align: top;
    padding-top: 15px;
}
#account-overview-v2 .container {
    display: table;
    max-height: 154px;
}
.widget .container {
    padding: 10px 10px 0px 10px;
}
