.widget .header {
    display: block !important;
    padding: 2px !important;
    background-color: #ae946d !important;
    border-bottom: 1px solid #000 !important;
    width: 100% !important;
    -webkit-transform: translate3d(0,0,0) !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 1000 !important;
}
.widget .container {
    padding: 33px 10px 10px 10px !important;
    background-color: black !important;
}
#registration-v2 .container {
    display: inline-block !important;
    width: 100% !important;
    background-size: 200px 147px !important;
    background-position-y: center !important;
    background-repeat: no-repeat !important;
}
element.style {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}
#registration-v2 .container .content {
    float: right !important;
    width: 80% !important;
}
#registration-v2 .container .content {
    padding: 15px !important;
    background-color: rgba(255,255,255,.9) !important;
    background-image: url("https://doc.qt.io/qt-5/images/RadialGradient_horizontalOffset1.png") !important;
    background-size: cover !important;
};
}
#registration-v2 .container .content .heading {
    font-size: 1.5625rem !important;
    padding-bottom: 10px !important;
}
