#registration-v2 .container {
    display: inline-block;
    width: 100%;
    /* height: 100%; */
    background-size: cover;
    background-repeat: no-repeat;
}
h2, h3 {
    color:#ae946d !important;
}
#registration-v2 .header {
    display: none;
    width: 100%;
    /* height: 100%; */
    background-size: cover;
    background-repeat: no-repeat;
}
body {
    background: none transparent;
}

#registration-v2 .container .content {
    float: left;
    width: 50%;
    margin-left: 60px;
}

#registration-v2 .heading {
    font-size: 2rem;
    padding-bottom: 25px;
}
#registration-v2 .description {
    font-size: 1.5rem;
    padding-bottom: 25px;
}
