.widget .header {
    display: block;
    padding: 5px;
    background-color: black !important;
    border-bottom: 1px solid #000;
    width: 100%;
    -webkit-transform: translate3d(0,0,0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
element.style {
    background-color: black;
    border-radius: 40px !important;
}
