@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
#account-overview-v2 .container {
    width: 100%;
    display: table!important;
    height: 320px !important;
    overflow: hidden !important;
    background: #000000 !important;
    align-items: center;
    padding-left:50px
}
#account-overview-v2 .header {
    display:none !important;
}
#account-overview-v2 {
    width: 100%;
    height: 320px !important;
    overflow:hidden !important;
}
html {
    overflow-y: hidden !important;
}
element.style {
    max-height: 350px;
    overflow: hidden !important;
}
#account-overview-v2 .profile-pic.bp2 {
    display: none;
    width: 100px;
    height: 100px;
    align-items: baseline;
}
#account-overview-v2 .profile-pic.bp1 {
    display: none;
    width: 50px;
    height: 50px;
}
.ng-scope.ng-isolate-scope {
    overflow: hidden !important;
}
#account-overview-v2 .user-info {
    display: none;
    width: 20%;
}
#account-overview-v2 .user-info {
    display: none;
    width: 20%;
}
#account-overview-v2 .name {
    text-transform: uppercase;
    color: #white;
    font-weight: 700;
    font-size: 1.75rem;
    margin-bottom: 10px;
}
#account-overview-v2 .lifetime-points {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-size: .75rem;
    margin-bottom: 8px;
}
#account-overview-v2 .points {
    font-size: .6875rem;
    text-transform: capitalize;
    margin-bottom: 8px;
}
#account-overview-v2 .points {
    font-size: 2.1rem !important;
    text-transform: capitalize;
    margin-bottom: 8px;
    color: #c7a910 !important;
    font-style: italic;
    font-weight: bold;
    background: repeating-linear-gradient(45deg, #ae946d, transparent 366px);
    border-radius: 10px;
}
#account-overview-v2 .fan-level {
    display: none !important;
    font-size: 1rem;
}
.ct-points-color {
    color: #c4a121!important;
    text-transform: capitalize;
}
#account-overview-v2 .progress-bar-container {
    padding-top: 15px;
    display: block;
    width: 50%;
    height: 155px;
    background: repeating-linear-gradient(45deg, #ae946d, transparent 400px);
    color: white;
    border-radius: 10px;
    margin bottom: 2;
}
#account-overview-v2 .logout-link-container {
    padding-top: 41px;
    width: 100%;
    text-align: center;
    font-size: .6875rem;
}
