.widget .header {
    display: none !important;
    padding: 2px !important;
    background-color: #ae946d !important;
    border-bottom: 1px solid #000 !important;
    width: 100% !important;
    -webkit-transform: translate3d(0,0,0) !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 1000 !important;
}
.widget .container {
    padding: 5px 5px 5px 5px !important;
    background-color: black !important;
}
#registration-v2 .container {
    display: inline-table !important;
    width: 100% !important;
    background-size: 85px 60px !important;
    background-position-y: bottom !important;
    background-repeat: no-repeat !important;
    background-image: linear-gradient(
        -45deg, 
        rgba(59,173,227,1) 0%, 
        rgba(87,111,230,1) 25%, 
        rgba(152,68,183,1) 51%, 
        rgba(255,53,127,1) 100%
  );  
  animation: AnimateBG 20s ease infinite;
}
@keyframes AnimateBG { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
element.style {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}
#registration-v2 .container .content {
    float: right !important;
    width: 90% !important;
}
#registration-v2 .container .content {
    padding: 15px !important;
    background-color: white !important;
    height: 60px !important;
    display: flex !important;
    justify-content: space-evenly !important;
    align-items: center !important;
    flex: 1 1 0 !important;
    flex-wrap: nowrap;
}
h3 {
    display: none;
}
#registration-v2 .container .content .heading {
    font-size: 1.2rem !important;
    padding-bottom: 10px !important;
}
#registration-v2 .container .content button.sign-up {
    display: inline-block;
    position: relative;
    width: auto;
    background-image: url(https://agalavotti.github.io/pumademo/glossy-black-icon-button-th.png);
    background-color: #AAA;
    background-image: linear-gradient( /* chrome */
    hsla(0, 0%, 100%, 0.6), hsla(0, 0%, 100%, 0) 50%,
    hsla(0, 0%, 0%, 0.3) 50%, hsla(0, 0%, 100%, 0.2)
  );
    text-shadow:
    0 0 15px hsla(0, 0%, 100%, 1), /* bloom */
    0 2px 4px hsla(0, 0%, 0%, 0.7); /* drop shadow */
  border: none;
  border-radius: 50px;
  margin: 10px;
   box-shadow:
    inset 0 -5px 20px hsla(0, 0%, 0%, 0.4), /* top light */
    inset 0 5px 20px hsla(0, 0%, 100%, 0.4), /* bottom shadow */
    /* multiple light sources yall */
    -8px 8px 5px hsla(0, 0%, 0%, 0.15), /* drop shadow 1 */
    5px 18px 10px hsla(0, 0%, 0%, 0.2); /* drop shadow 2 */
  cursor: pointer;
  transition: transform 0.1s, box-shadow 0.1s; 
}
