@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
#reward-list-v2 .rewards {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation: fadeIn 4s;
}
#reward-list-v2 .rewards .reward {
    width: 20%;
    float: left;
    border-radius: 20px;
    background-color: rgb(174, 148, 109);
}
#reward-list-v2 .rewards .reward img {
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}
h1 {
    animation: 1.5s slide-right;
}
@keyframes slide-right {
  from {
    margin-left: -100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
