#reward-list-v2 .rewards {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#reward-list-v2 .rewards .reward {
    width: 25%;
    float: left;
    border-radius: 20px;
    background-color: rgb(174, 148, 109);
}
#reward-list-v2 .rewards .reward img {
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}
