/* FONTS */

    @import url("https://loyalty-addons-scripts.redbullracing.com/crowdtwist/css/rbr-ct-fonts-v1.css");

    .rewards {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    .reward.ng-scope.reward-allow-redemption {
        flex: 0 0 auto;
    }
    /* .rewards::-webkit-scrollbar {
        display: none;
    } */
    /* Hide scrollbar for IE, Edge and Firefox */
/* .rewards {
    -ms-overflow-style: none;  IE and Edge
    scrollbar-width: none;  Firefox
  } */
    html {
    min-height: 100% !important;
    min-width:  100% !important;
    overflow-y: hidden !important;
}
::-webkit-scrollbar {
  background: #000F1E;
  border-radius: 25px;
}
::-webkit-scrollbar-thumb {
  background: #293F51;
  border-radius: 25px;
  -webkit-box-shadow: 0 0 0 rgb(255 255 255 / 50%) !important;
}
body {
    /*padding-top: 100px; Added By Dersana */
    /*padding-bottom: 60px; Added By Dersana */
    padding: 75px 0 0 0; /*Added By Dersana */
    max-width: 1222px !important;
    margin-left:  auto !important;
    margin-right: auto !important;
    background-color: #ffffff !important;
    font-family: 'Bull Text',Helvetica,sans-serif !important;   
    /* height: 515px; */
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: -7px;
}
div#reward-list-v2 > div.container {
    overflow: auto;
}
@-moz-document url-prefix() {
    div#reward-list-v2 > div.container {
        height: 915px;
    }
}
.page__panel iframe{
    margin-top: 80px !important;
}

div#reward-list-v2 {
    padding: 0px 0px 0px 0px !important;
}

h1#heading-text {
    color: #ffffff !important;
    text-transform: capitalize !important;
    font-size: 2rem !important;
    line-height: 2rem !important;
    font-family: 'Bull Text',Helvetica,sans-serif !important;
    /* padding-top: 100px; */
    padding: 0 !important;
    margin: 0 !important;
}

#reward-list-v2 .rewards .reward .content .row {
    margin: 0 0 10px 0 !important;
    padding: 0 !important;
    line-height: 1rem !important;
}

.widget .container {
    padding: 45px 0 0 0;
}

.widget .header h1, .widget .header h3 {
    margin: none !important;
}

.widget .header {
    padding: 0px !important;
}

.header.ct-header-color {
    background-color: #001A30 !important;
    color:#ffffff !important;
    border-bottom:none !important;
    position: relative;
}

.reward.ng-scope {
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: none !important;
}

#reward-list-v2 .rewards .reward img {
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: none !important;
}

#reward-list-v2 .rewards .reward {
    width: 20% !important;
    /* width: 20% !important; */
    float: left !important;
    margin: 0 10px 20px 10px !important;
    border-radius: 8px !important;
    padding: 0px !important;
    background-color: #fff !important;
    flex: 0 0 auto !important;
}

#reward-list-v2 .rewards .reward .content {
    background-color: #FFFFFF;
    /* padding: 5px 5px 1rem 1rem; */
    /* margin-top: -2px; */
    margin-top: -4px; 
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 0 0 9px 0 !important;
}
#reward-list-v2 .rewards .reward .content .title {
    height: 3rem !important;
    /* font-size Added by Priyank */
    font-size: 1.5rem !important;
    line-height: 1.75rem !important;
    font-weight: 700 !important;
    font-family: 'Bull Text',Helvetica,sans-serif !important;
    padding: 0 24px !important;
    margin: 15px 0 !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    min-height: 5.25rem;
    color: #1A1919 !important;
}

#reward-list-v2 .rewards .reward .content .row p.ends {
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 0.8125rem !important;
    line-height: 0.8125rem !important;
    padding: 0 24px !important;
    color: #001A30 !important;
}

#reward-list-v2 .rewards .reward .content .row p.quantity {
    padding: 0 24px !important;
    margin: 0 0 15px 0 !important;
    width: 100% !important;
    text-align: right !important;
    font-size: 0.8125rem !important;
    line-height: 0.8125rem !important;
    color: #1A1919 !important;
}

#reward-list-v2 .rewards .reward .content .row p.points {
    text-transform: capitalize !important;
    font-weight: 500 !important;
    padding: 0 24px !important;
    margin: 0 0 10px 0 !important;
    width: 100% !important;
}
#reward-list-v2 .rewards .reward .content .row .locked {
    padding: 0 24px !important;
}
/* Margin Added by Priyank */
#reward-list-v2 .rewards .reward .content .row p {
    font-size: 1rem!important;
    line-height: 1rem !important;
    margin-right: 15px;
}
/* Added by Priyank */
p.locked.ng-binding.ng-scope {
    font-size: 0.813rem!important;
}
a.ct-link-color {
    text-decoration: none;
}

/* Remove margin l+r */
#reward-list-v2 .rewards .reward:nth-child(1) {
  margin-left: 0 !important;
}
#reward-list-v2 .rewards .reward:nth-last-child(1) {
  margin-right: 0 !important;
}

@media screen and (min-width: 2560px){

    body {
        left: -13px !important;
    }

}

@media screen and (min-width: 1024px) and (max-width: 1439px){

    body {
        padding: 50px 31px 2px 20px !important;
        left: 0 !important;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px){

    body {
        padding: 50px 0 2px 0 !important;
        left: -4px !important;
        width: calc(100% - 8px) !important;
    }
    .widget .container {
        padding: 30px 0 0 0;
    }
    #reward-list-v2 .rewards .reward {
        width: 42% !important;
        margin: 0 10px 0 10px !important;
    }
    h1#heading-text {
        padding: 10px !important;
        margin: 10px !important;
    }
    /* Remove margin l+r */
    #reward-list-v2 .rewards .reward:nth-child(1) {
        margin-left: 20px !important;
    }
    #reward-list-v2 .rewards .reward:nth-last-child(1) {
        margin-right: 20px !important;
    }
    ::-webkit-scrollbar {
        background: #001a30;
    }
    ::-webkit-scrollbar-thumb {
        background: #001a30;
    }

}

@media screen and (min-width: 375px) and (max-width: 767px) {

    body {
        padding: 50px 0 2px 0 !important;
        left: 0 !important;
    }
    .widget .container {
        padding: 30px 0 0 0;
    }
    #reward-list-v2 .rewards .reward {
        width: 80% !important;
        margin: 0 10px 0 10px !important;
    }
    h1#heading-text {
        padding: 10px !important;
        margin: 10px !important;
    }
    /* Remove margin l+r */
    #reward-list-v2 .rewards .reward:nth-child(1) {
        margin-left: 20px !important;
    }
    #reward-list-v2 .rewards .reward:nth-last-child(1) {
        margin-right: 20px !important;
    }
    ::-webkit-scrollbar {
        background: #001a30;
    }
    ::-webkit-scrollbar-thumb {
        background: #001a30;
    }
    
}

@media screen and (min-width: 320px) and (max-width: 374px) {

    body {
        padding: 50px 0 2px 0 !important;
        left: 0 !important;
    }
    .widget .container {
        padding: 30px 0 0 0;
    }
    #reward-list-v2 .rewards .reward {
        width: 80% !important;
        margin: 0 10px 0 10px !important;
    }
    h1#heading-text {
        padding: 10px !important;
        margin: 10px !important;
    }
    /* Remove margin l+r */
    #reward-list-v2 .rewards .reward:nth-child(1) {
        margin-left: 20px !important;
    }
    #reward-list-v2 .rewards .reward:nth-last-child(1) {
        margin-right: 20px !important;
    }
    ::-webkit-scrollbar {
        background: #001a30;
    }
    ::-webkit-scrollbar-thumb {
        background: #001a30;
    }
    
}
ct-points-color {
    color: #c41b2f !important;
    text-transform: capitalize;
}
